<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <%= stylesheet_link_tag 'superstylin', :media => 'all' %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> index</title>
  </head>

  <body>
   
  </body>
</html>